@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f8f9fa] text-[#202124];
    /* Google Base Background & Text */
    font-family: 'Roboto', 'Segoe UI', sans-serif;
  }
}